@import '~carbon-components/scss/globals/scss/styles';

.root {
  padding-top: 3rem;

  .side-nav {
    &.closed {
      width: 0;
    }
  }
  
  .content {
    padding: 1.5rem;

    .tabs {
      .bx--tabs-trigger{
        padding: 0;
      }

      .bx--tabs__nav {
        margin: 0;
      }
    }

    .input-field-container {
      margin: 1rem 0;

      .input-field {
        margin-bottom: 1.5rem;
      }
    }

    .dql-response {
      margin-top: 4rem;
      display: none;

      &.has-data {
        display: block;
      }

      .bulk-response {
        .bx--label {
          margin-bottom: 1rem;
        }
    
        .bx--snippet--multi {
          max-width: 100%;
        }  
      }
    
      .explain {
        padding-top: 1.5rem;
        
        & pre {
          font-size: 75%;
          white-space: pre-wrap;
        }
      }  
    }

    .error-notification {
      margin-top: 4rem;
      display: none;

      &.has-message {
        display: flex;
      }
    }
  }
}
