@import '~carbon-components/scss/globals/scss/styles';

.container {
  margin: 40px;

  .tabs {
    .bx--tabs-trigger{
      padding: 0;
    }

    .bx--tabs__nav {
      margin: 0;
    }
  }

  .input-container {
    margin-top: 1.5rem;

    .input-field {
      margin-bottom: 1.5rem;
    }
  }

  .execute-button {
    margin-bottom: 3rem;
  }

  .result {
    display: none;

    &.has-result {
      display: block;
    }

    .response {
      .bx--label {
        margin-bottom: 1rem;
      }
  
      .bx--snippet--multi {
        max-width: 100%;
      }  
    }
  
    .explain {
      padding-top: 1rem;
  
      .bx--label {
        display: none;
      }
  
      .bx--text-area {
        padding: 0 1rem;
      }  
    }  
  }

  .error {
    display: none;

    &.has-message {
      display: flex;
    }
  }
}
